[submodule "lib/FFXIVClientStructs"]
	path = lib/FFXIVClientStructs
	url = https://github.com/aers/FFXIVClientStructs.git
[submodule "lib/Lumina"]
	path = lib/Lumina
	url = https://github.com/NotAdam/Lumina.git
